[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
sklearn = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
seaborn = "*"
jupyter = "*"
jupyterlab = "*"
jupytext = "*"
jupyterlab-git = "*"
lckr-jupyterlab-variableinspector = "*"
xgboost = "*"
statsmodels = "*"
boruta = "*"
typing-extensions = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
